.idea/
*.pyc
__pycache__/
.ipynb_checkpoints/
htmlReport/
Miniconda3-*.sh
*.tar.lz4
workdir/
data/**/*.zip
*.out
*.pclprof
.pytest_cache
.tox/
tox_conda_tmp*.yaml
venv/
smac3_output/
*.png
.DS_Store
*.feather
data/trackml/train_1/
