# important core libraries
pandas # tables (dataframes)
numpy # arrays
scipy # sparse matrices
scikit-learn # nearest neighbors filter and error metrics
networkx # graph library to reconstruct tracks for the trackml score function

# utility to read trackml data
# also provides a tracking quality score function
git+https://github.com/LAL/trackml-library@master#egg=trackml

# parallelization of the brute force plotting of neighbor filter effectiveness
tqdm # progress bar
pathos # easy parallelization library
py-cpuinfo # log cpu info together with performance

# jupyter notebooks for prototyping and easy visualizing results
jupyter
notebook<7 # for vispy widget
nb-clean # clean up notebook outputs before git commit

# plotting libraries
seaborn
holoviews
bokeh
matplotlib
plotly

# fast 3d visualization with opengl
vispy
jupyter-rfb # jupyter browser-side library
simplejpeg # image library needed by vispy
pyglfw # one lightweight opengl backend

# extra profiling libraries
memory_profiler
line_profiler
line-profiler-pycharm

# unit testing libraries
pytest
pytest-cov

# metaparameter optimizer
smac~=2
configspace
